- @title = "Log In"

- form_tag session_path do
  %fieldset
    %p
      = label_tag 'login'
      = text_field_tag 'login', @login, :class => "textbox"
    %p
      = label_tag 'password'
      = password_field_tag 'password', nil, :class => "textbox"
    %p
      = check_box_tag 'remember_me', '1', @remember_me, :class => "checkbox"
      = label_tag 'remember_me', 'Remember me on this computer', :class => "checkbox"
  .buttons
    = submit_tag 'Log in', :class => "button"
