- @title = "Login"

- form_tag session_path do
  - if flash[:error]
    %p.message.error= flash[:error]
  %fieldset
    %p
      = label_tag 'email', 'Email'
      = text_field_tag 'email', @email, :class => "textbox big", :size => 30
    %p
      = label_tag 'password'
      = password_field_tag 'password', nil, :class => "textbox big", :size => 30
    %p
      = check_box_tag 'remember_me', '1', @remember_me, :class => "checkbox"
      = label_tag 'remember_me', 'Remember me on this computer', :class => "checkbox"
  .buttons
    = submit_tag 'Login', :class => "button"
    or
    = link_to "Signup", signup_path
