- @selected = :dashboard
- @title = "Dashboard"

- if @teaser.unmodified?
  %p.message.info
    %strong You must be new!
    Head on over to the
    = link_to "settings tab", admin_settings_path
    and configure your teaser page now.
    
.box#statistics
  .graph
    = remote_graph("visitor_statistics", :url => url_for(:action => 'graph') + "?#{@statistics.kind}")
    %p.views
      View:
      %a{:class=>(@statistics.kind == 'daily' ? 'selected' : nil), :href=>"?daily"} Past 7 days
      %span.separator= "|"
      %a{:class=>(@statistics.kind == 'monthly' ? 'selected' : nil), :href=>"?monthly"} Last 2 months
  %ul.large_statistics
    %li
      %big= @statistics.visitors_total
      = "unique visitor#{@statistics.visitors_total != 1 ? 's' : ''}"
      %small= "since #{@statistics.start_date.to_s(:month_day_year)}"
    %li
      %big= @statistics.visitors_today
      = "visitor#{@statistics.visitors_today != 1 ? 's' : ''} today"
    %li
      %a{:href=>admin_subscribers_path}
        %big= @subscriber_count
        = "subscriber#{@subscriber_count != 1 ? 's' : ''}"

.box
  %p
    %big
      You can view your teaser page here:
      = link_to teaser_url, teaser_url