- @selected = :settings
- @title = "Settings"

.box
  %h3 Domain
  %p
    %big.domain= "#{current_account.subdomain}.#{application_domain}"
    %a{:href=>"/settings/change_domain"} Change

-# .box
-#   %h3 Template
-#   %p
-#     %select
-#       %option Black Background
-#       %option White Background

.box
  %h3 Logo
  #logo{:style => (@teaser.logo.exists? ? nil : 'display:none')}
    %p
      = image_tag @teaser.logo.url
    %p.change
      %a{:href=>"javascript:void(0);", :onclick=>"Element.hide('logo'); Element.show('change_logo'); Event.stop(event)"}
        Change
  #change_logo{:style => (@teaser.logo.exists? ? 'display:none' : nil)}
    - form_for :setttings, :url => admin_settings_path, :html => {:method => :put, :multipart => true} do |logo|
      %p.logo_uploader
        = logo.file_field :logo
      %p
        = logo.submit 'Upload'
        %span{:style => (@teaser.logo.exists? ? nil : 'display:none')}
          or
          %a{:class=>"cancel", :href=>"javascript:void(0);", :onclick=>"Element.hide('change_logo'); Element.show('logo'); Event.stop(event)"} Cancel

.box
  %h3 Title &amp; Description
  #title_and_description
    .title_and_description
      %h4 Be a Part of Something Amazing
      %p Enter your name and email below to be among the first to participate in our beta program.
    %p.change
      %a{:href=>"javascript:void(0);", :onclick=>"Element.hide('title_and_description'); Element.show('change_title_and_description'); Event.stop(event)"}
        Change
  #change_title_and_description{:style=>"display: none"}
    %form
      %p
        %label{:for=>"title"} Title
        %input.textbox.big{:name=>"title", :id=>"title", :type=>"text", :size=>"30", :value=>"Be Part of Something Amazing"}/
      %p
        %label{:for=>"description"} Description
        %textarea{:name=>"description", :id=>"description", :type=>"text", :cols=>40, :rows=>4}= "Enter your name and email below to be among the first to participate in our beta program."
      %p
        %input{:type=>"submit", :value=>"Save Changes"}/
        or
        %a{:class=>"cancel", :href=>"javascript:void(0);", :onclick=>"Element.hide('change_title_and_description'); Element.show('title_and_description'); Event.stop(event)"} Cancel
        