!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}/
    %title= [application_name, @title ].compact.uniq.join(": ")
    %link{:href=>"/stylesheets/application.css", :rel=>"stylesheet", :type=>"text/css", :media=>"all"}/
    = javascript_include_tag :all
  %body
    #header
      %ul.applinks
        %li{:class=>(@selected == :preferences) ? "here" : nil}
          = link_to "Logged in as <strong>#{current_account.name}</strong>", preferences_path
        %li
          = link_to "Logout", logout_url
        %li
          = link_to "View Teaser", teaser_view_url(current_account), :class=>"view_teaser", :target=>"_blank"
      = render :partial => "/layouts/navigation"
    #content
      = yield
    = render :partial => "/layouts/footer"