!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %title= [@title, "AnnounceIt"].compact.uniq.join(" | ")
    %link{:href=>"/stylesheets/application.css", :rel=>"stylesheet", :type=>"text/css", :media=>"all"}/
  %body
    #header
      = render :partial => "/layouts/navigation"
    #content
      - if @title
        %h1= @title
      = yield
    = render :partial => "/layouts/footer"