- @title = "Signup"

- form_for :account, :url => {:action => :create} do |f|
  - if errors_on? :account
    %p.message.error Oops! There were errors while processing this form. Please correct them before continuing.
  %fieldset
    %p
      = f.label :name
      = f.text_field :name, :class => "textbox", :size => 33
    %p
      = f.label :email
      = f.text_field :email, :class => "textbox", :size => 33
    %p
      = f.label :username, "Username"
      = f.text_field :username, :class => "textbox", :size => 33
    .set
      %p
        = f.label :password
        = f.password_field :password, :class => "textbox", :size => 15
      %p
        = f.label :password_confirmation, "Confirm Password"
        = f.password_field :password_confirmation, :class => "textbox", :size => 15
      .clear &nbsp;
    %p
      = f.label :subdomain
      = f.text_field :subdomain, :class => "textbox", :size => 33
      = ".#{application_domain}"
  .buttons
    = hidden_field_tag :key, params[:key]
    = f.submit "Signup", :class => "button"
    or
    = link_to "Login", login_url